.font1 {
  font-style: oblique;
  font-family: Arial;
  text-align: right;
  padding-right: 200px;
}

.font3 {
  color: #4682B4;
  font-family: Arial;
  padding-right: 5px;
}

#guiaprincesas {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 21%;
  left: 10%;
  background-image: ("img/princesas.jpg");
}
